// Libs

@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import "libs/skel";
@import "../css/font-awesome.min.css";
// Base

@import "base/typography";

// Layout

@import "layout/footer";
@import "layout/sideNav";
@import "layout/header";

// Components

@import "components/banner";
@import "components/rowThreeCards";
@import "components/bannerCarousel";
@import "components/featuredBlog";
@import "components/blogCard";
@import "components/ourBrands";
@import "components/qualityAndSustainability";
@import "components/contactUs";
@import "components/workWith";

// Pages

@import "pages/index";
@import "pages/blog";
@import "pages/whatWeDo";
@import "pages/ourBrands";
@import "pages/contactUs";
@import "pages/ourPromise";
@import "pages/privateLabel";
@import "pages/howWeDoIt";

@import "base/bootstrapOverwrites";

.grey-bg {
  background-color: #f4f4f4;
}

.green {
  color: _palette(bg);
}

img {
  width: 100%;
}
