.banner_image {
  position: relative;
  text-align: center;
  color: white;
  img {
    width: 100%;
    max-width: 100%;
    opacity: 0.8;
    filter: brightness(60%);
  }
  h2 {
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
