.carousel-caption {
  bottom: 25%;
  left: 15%;
  h2 {
    font-size: 60px;
  }
}

.carousel-indicators {
  display: none;
}

.carousel-item {
  img {
    opacity: 0.8;
    // filter: brightness(60%);
  }
}

.carousel-control-next,
.carousel-control-prev {
  bottom: auto !important;
  top: 40% !important;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}
