.banner_image {
  position: relative;
  text-align: center;
  color: white;
  img {
    width: 100%;
    max-width: 100%;
    opacity: 0.8;
    filter: brightness(60%);
  }
  h2 {
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@include breakpoint(small) {
  .banner_image {
    h2 {
      font-size: 37px !important;
      line-height: 1.45 !important;
    }
  }
}

@include breakpoint(xsmall) {
  .banner_image {
    h2 {
      font-size: 27px !important;
      line-height: 1.35 !important;
    }
  }
}

@include breakpoint(xxsmall) {
  .carousel-caption {
    bottom: 29% !important;
  }
  .banner_image {
    h2 {
      font-size: 22px !important;
      line-height: 1.25 !important;
    }
  }
}
