.ingredient {
  display: relative;
  display: inline-block;
  padding: 0px 20px;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  svg {
    position: absolute;
    top: 5px;
    right: 20px;
    border: 50%;
    color: _palette(bg);
    font-size: 25px;
  }
}

.ingredient img:hover {
  overflow: hidden;
  z-index: 2;
}

.tickIcon {
  display: none;
}

.checked {
  display: block !important;
}

@include breakpoint(small) {
  .ingredient {
    width: 50%;
  }
}
