.packaging {
  display: relative;
  display: inline-block;
  padding: 0 20px;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  img:hover {
  }
  svg {
    position: absolute;
    top: 5px;
    right: 20px;
    border: 50%;
    color: white;
    font-size: 25px;
  }
}

@include breakpoint(small) {
  .packaging {
    width: 50%;
  }
}
